[submodule "reference/picoclaw"]
	path = reference/picoclaw
	url = https://github.com/sipeed/picoclaw.git
[submodule "reference/nanobot"]
	path = reference/nanobot
	url = https://github.com/HKUDS/nanobot.git
[submodule "reference/openclaw-skills"]
	path = reference/openclaw-skills
	url = https://github.com/moltbot/skills.git
[submodule "reference/llm-checker"]
	path = reference/llm-checker
	url = https://github.com/Pavelevich/llm-checker.git
[submodule "reference/picolm"]
	path = reference/picolm
	url = https://github.com/RightNow-AI/picolm.git
[submodule "reference/openclaw-rl"]
	path = reference/openclaw-rl
	url = https://github.com/Gen-Verse/OpenClaw-RL.git
